header {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #333;
}
header a{
	color: #333;
	text-decoration: none;
}
header a:hover{
	color: #BAA284;
	text-decoration: none;
}

.logo img {
  width: 300px;
}

.main-nav li a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
}

.main-nav {
	display: flex;
	justify-content: space-between;
}

.main-nav li {
	list-style: none;
}


\\Outfit-for-me page 
.header-section {
	text-align: center;
	margin: 50px 0;
}

.main-header {
	color: #333;
	margin-bottom: 20px;
}

.sub-header {
	color: #666;
	line-height: 1.5;
	max-width: 80%;
	margin: 0 auto;
}

\\ search bar
.search-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.parent-container {
	display: grid;
	place-items: center;
}


form {
	display: flex;
	align-items: center;
	background-color: #2b2b2b;
	padding: 20px;
	border-radius: 25px;
	width: 20cm;
}

h2 {
	color: #fff;
	margin-bottom: 10px;
}

input[type=search] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 25px;
	font-size: 18px;
	transition: background-color 0.3s ease;
	color: #fff;
	background-color: #2b2b2b;
}

input[type=search]:hover {
	background-color: #f2f2f2;
}

button[type=submit] {
	width: 80px;
	height: 50px;
	background-color: #fff;
	color: #fff;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-size: 18px;
	text-decoration-color: #000;
}



\\ clothing preview
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.col-6 {
	width: 50%;
}

.col-md-3 {
	width: 25%;
}

.clothing-preview {
	width: 80%;
	height: 350px;
  margin: 10px;
  position: relative;
    
}

.clothing-preview img {
	width: 100%;
  height: 100%;
  object-fit: cover;
}

.clothing-preview p {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 10px;
	background-color: #fff(0, 0, 0, 0.7);
	color: #000;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}


\\ footer 
footer {
	background-color: #000;
	padding: 50px 0;
	
	color: #fff;
}

footer h4, footer p, footer a, footer form {
	text-align: center;
}

footer {
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	background-color: #000;
	padding: 50px 0;
	color: #fff;

}


.container{
	margin-top:100px;
	
}


footer input[type="email"] {
	padding: 12px 20px;
	margin: 20px auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #fff;
	background-color: #fff;
	width: 70%;

}

footer button[type="submit"] {
	background-color: #fff;
	color: #000;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 20%;
	
}









